@import 'tailwindcss';

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 90s linear infinite;
}

:root {
    --font-satoshi: 'Satoshi', sans-serif;
    --font-geistMono: 'GeistMono', sans-serif;
}

.font-geistMono {
    font-family: var(--font-geistMono);
}

.font-satoshi {
    font-family: var(--font-satoshi);
}

body {
    font-family: var(--font-satoshi);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

/* html,
body {
    cursor:
        url('/warship-logo.svg') 30 30,
        auto;
} */

.animated-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.animated-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* This is your border line */
    background-color: black; /* Or whatever color you want the border to be */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.animated-link:hover::before {
    transform: scaleX(
        1
    ); /* On hover, the border line scales in from the left */
}

.animated-link:not(:hover)::before {
    transform-origin: right;
    transform: scaleX(
        0
    ); /* On mouse leave, the line continues off to the right and disappears */
}
