@import 'tailwindcss';

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 90s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused; /* pause on hover */
}
.pause-zone:hover .animate-scroll {
    animation-play-state: paused;
}

.pause-zone:active .animate-scroll {
    animation-play-state: paused;
}

:root {
    --font-satoshi: 'Satoshi', sans-serif;
    --font-geistMono: 'GeistMono', sans-serif;
}

.font-geistMono {
    font-family: var(--font-geistMono);
}

.font-satoshi {
    font-family: var(--font-satoshi);
}

body {
    font-family: var(--font-satoshi);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

/* * {
    outline: 1px solid gold;
} */

/* html,
body {
    cursor:
        url('/warship-logo.svg') 30 30,
        auto;
} */

.animated-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.animated-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* This is your border line */
    background-color: #07e272; /* Or whatever color you want the border to be */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.animated-link:hover::before {
    transform: scaleX(
        1
    ); /* On hover, the border line scales in from the left */
}

.animated-link:not(:hover)::before {
    transform-origin: right;
    transform: scaleX(
        0
    ); /* On mouse leave, the line continues off to the right and disappears */
}

::-webkit-scrollbar {
    display: none;
}

/* grid-template-columns: repeat(auto-fit, minmax(Xpx, 1fr)) */

/* CSS IMAGE MASKING */
.image-fade-bottom {
    mask-image: linear-gradient(to bottom, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.image-fade-left {
    mask-image: linear-gradient(to left, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to left, black 10%, transparent);
}

.image-fade-right {
    mask-image: linear-gradient(to right, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent);
}

::selection {
    color: #0a231d;
    background-color: #07e272;
}
