@import 'tailwindcss';

:root {
    --font-satoshi: 'Satoshi', sans-serif;
    --font-geistMono: 'GeistMono', sans-serif;
}

.font-geistMono {
    font-family: var(--font-geistMono);
}

.font-satoshi {
    font-family: var(--font-satoshi);
}

body {
    font-family: var(--font-satoshi);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}
