name: Deploy to Hostinger

on:
  push:
    branches: [ main, production ]

jobs:
  deploy:
    runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v5
  - name: Deploy to Hostinger
    uses: hostinger/deploy-action@v1
    with:
      api-key: ${{ secrets.HOSTINGER_API_KEY }}
      virtual-machine: ${{ vars.HOSTINGER_VM_ID }}
      project-name: my-awesome-app
      personal-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
